{% extends 'base.html' %}

{% block content %}
    <script>
        function redirect(url) {
            window.location.href = url;
        }
    </script>
    <h2>{{ checklist.header['title'] }}</h2>
    {% if checklist.header['description'] %}
    <p>{{ checklist.header['description'] }}</p>
    {% endif %}
    {% for item in checklist.items %}
    {% set redirect_url = url_for('checklist.toggle_item', id=checklist.header['id'], item_id=item['id']) %}
    <div id="list_items">
        <a href="{{ redirect_url }}"><input type="checkbox" onchange="redirect('{{ redirect_url }}');" {% if item['done'] %}checked{% endif %}></a> {{ item['item_text'] }}
    </div>
    {% endfor %}
    <!-- Form to add an item -->
    <form action="{{ url_for('checklist.add_item', id=checklist.header['id']) }}" method="post">
        <h3>Add an item:</h3>
        <label for="item_text">Item: </label>
        <input type="text" name="item_text" id="item_text" required>
        <input type="submit" value="Add">
    </form>
    <div id="list_history">
        <h3>History</h3>
        <ol>
        {% for change in checklist.history %}
            <li>{{ change['change_date'] }} - {{ change['change_description'] }}</li>
        {% endfor %}
        </ol>
    </div>
{% endblock %}
