{% extends 'base_page.html' %}
{% from 'macros.html' import error_messages %}

{% block content %}
<div class="page-form">
    {% if form.errors %}
        {{ error_messages(form.errors) }}
    {% endif %}
    <form action="{{ url_for('auth.register') }}" method="post">
        {{ form.csrf_token }}
        <h2>Register</h2>
        <label for="username">Email: </label>
        <input type="email" name="username" id="username" placeholder="email" required><br>
        <label for="given_name">Given name: </label>
        <input type="text" name="given_name" id="given_name" placeholder="given name(s)" required><br>
        <label for="family_name">Family name: </label>
        <input type="text" name="family_name" id="family_name" placeholder="family name(s)"><br>
        &nbsp;<br>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password" placeholder="password" required><br>
        <label for="confirm">Confirm: </label>
        <input type="password" name="confirm" id="confirm" placeholder="confirm" required><br>
        &nbsp;<br>
        <input type="submit" value="Register" class="btn-primary">
        <input type="reset" value="Cancel" class="btn-secondary">
    </form>
</div>
{% endblock %}
