{% extends 'base.html' %}

{% block content %}
{% if email_sent %}
    <h2>Password Sent</h2>
    <P>An email has been sent with a link that will let you reset your password. Once received use the link in the email to open the reset password form and follow the directions.</P>
{% if debug %}
    <p><strong>Debug: </strong>The token is {{ token }}. You can now go to the password reset page at <a href="{{ url_for('auth.forgot_password', token=token) }}">Reset</a>.</p>
{% endif %}
{% else %}
    <h2>Send Password Reset</h2>
    <p>Please enter the email you used to register. If it is registered we'll send you a passowrd reset link.</p>
    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <label for="username">Email: </label>
        <input type="email" name="username" id="username" required><br>
        <input type="submit" value="Send Email">
    </form>
{% endif %}
{% endblock %}
