{% extends 'base_page.html' %}
{% from 'macros.html' import error_messages %}

{% block content %}
    <div class="page-form">
        {% if form.errors %}
        {{ error_messages(form.errors) }}
        {% endif %}
        <form action="" method="post">
            {{ form.csrf_token }}
            <h2>Set New Password</h2>
            <p>Use the form below to set your new password. The username must match the email address where the reset link was sent.</p>
            <label for="username">Username: </label>
            <input type="text" name="username" id="username"><br>
            <label for="password">Password: </label>
            <input type="password" name="password" id="password"><br>
            <label for="confirm">Confirm:</label>
            <input type="password" name="confirm" id="confirm"><br>
            &nbsp;<br>
            <input type="submit" class="btn-primary" value="Update Password">
            <input type="reset" class="btn-secondary" value="Cancel">
        </form>
    </div>
{% endblock %}
