{% extends 'base.html' %}

{% block content %}
    <form action="" method="post">
        <h2>Set New Password</h2>
        <p>Use the form below to set your new password. The username must match the email address where the reset link was sent.</p>
        <label for="username">Username: </label>
        <input type="text" name="username" id="username"><br>
        <label for="password">Password: </label>
        <input type="password" name="password" id="password"><br>
        <label for="confirm">Confirm:</label>
        <input type="password" name="confirm" id="confirm"><br>
        <input type="submit" value="Update Password">
        <input type="reset" value="Cancel">
    </form>
{% endblock %}