{% extends 'base_page.html' %}

{% block content %}
    <h2>Privacy Notice</h2>
    <p>Checklist sets cookies and collects personal information in order to provide the user with the best possible experience. This policy outlines what data the site collects, how its used, and what your rights are.</p>
    <p>Currently this site sets two cookies, one for the purposes of keeping users logged in between page views. This cookie, a sessional cookie, is necessary for the functioning of the site, but does not track your movements or record any personal information about you.</p>
    <p>The second cookie is a persistent cookie with an expiry of twenty-eight (28) days. This cookie allows the login to persist between sessions.</p>
    <h3>Updates to this Policy</h3>
    <p>We reserve the right to update this policy at any time. In the case that we do so we will post a notice on the homepage for 30 days following the publication of the new version. Additionally, provided you haven't opted out you will receive an email announcing the new <em>policy</em>.</p>
    <p>Release date: December 25, 2019<br>Place: Montreal, QC</p>
{% endblock %}
