{% extends 'base.html' %}

{% block content %}
        <h2>Checklists</h2>
        <p>Use this form to create a new checklist:</p>
        <table>
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Complete</th>
                </tr>
            </thead>
            <tbody>
{% for list in lists %}
                <tr>
                    <td>{{ list['title'] }}</td>
                    <td>{{ list['created_date'] }}</td>
                    <td>{% if list['is_complete'] %}&#10004;{% endif %}</td>
                </tr>
{% endfor %}            
            </tbody>
        </table>
{% endblock %}
