{% extends 'base_form.html' %}
{% from 'macros.html' import success_message %}

{% block title %}{{ user['given_name'] }} {{ user['family_name'] }} - ({{ user['email'] }}){% endblock %}

{% block sidebar %}
    <div class="sidebar">
        <strong>Tasks</strong>
        <hr>
        &nbsp;<br>
        <strong>List</strong>
        <hr>
        <a href="{{ url_for('checklist.index') }}">All lists</a><br>
        <a href="{{ url_for('checklist.create') }}">Create new list</a><br>
        &nbsp;<br>
        <strong>Settings</strong>
        <hr>
        <a href="{{ url_for('admin.edit_user', id=g.user['id']) }}">User</a><br>
    </div>
{% endblock sidebar %}

{% block content %}
    <form action="" method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <h2>Edit User</h2>
        <div class="width-50">
        <label for="username">Username: </label>
        <input type="email" name="username" id="username" value="{{ user['email'] }}"><br>
        </div>
        <label for="given_name">Given name: </label>
        <input type="text" name="given_name" id="given_name" value="{{ user['given_name'] }}"><br>
        <label for="family_name">Family name: </label>
        <input type="text" name="family_name" id="family_name" value="{{ user['family_name'] }}"><br>
        {% if g.user['is_admin'] %}
        <input type="checkbox" name="is_admin" id="is_admin" {% if user['is_admin'] %}checked{% endif %}>
        <label for="is_admin">is administrator</label><br>
        {% endif %}
        <input type="submit" class="btn-primary" value="Save">
        <input type="reset" class="btn-secondary" value="Cancel"><br>
    </form>
{% endblock %}
