{% extends 'base.html' %}

{% block content %}
        <form action="{{ url_for('auth.register') }}" method="post">
            <h2>Register</h2>
            <label for="username">email: </label>
            <input type="email" name="username" id="username" required><br>
            <label for="password">password: </label>
            <input type="password" name="password" id="password" required><br>
            <label for="confirm">confirm password: </label>
            <input type="password" name="confirm" id="confirm" required><br>
            <input type="submit" value="Register">
            <input type="reset" value="Cancel">
        </form>
{% endblock %}
