{# Base template for static pages #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta %}{% endblock %} {# Additional meta directives can be added on a per page basis here #}
    <title>{% block title %}Untitled{% endblock %} | bebleo: Checklist</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    {% block additional_styles %}{% endblock %} 
</head>
<body>
{% block header %}
    <div class="header">
        <div class="logo">
            <a href="/">
                <h1>bebleo: <span class="subtitle beta">Checklist</span></h1>
            </a>
        </div>
        <div class="nav-links">
            <nav>
                <a href="{{ url_for('home.about') }}">About</a>
                <a href="{{ url_for('home.contact') }}">Contact</a>
            {% if g.user %}
                <a href="{{ url_for('checklist.index') }}">Lists</a>
            {% if g.user.is_admin %}
                <a href="{{ url_for('admin.list_users') }}">Admin</a>
            {% endif %}
                <a href="{{ url_for('auth.logout') }}">Logout</a>
                <!-- <a href="{{ url_for('auth.logout') }}">&#x265E;</a> -->
            {% else %}
                <a href="{{ url_for('auth.login') }}">Login</a>
            {% endif %}
            </nav>
        </div>
    </div>
{% endblock %}
{% block container %}
    <div class="container no-sidebar">
        {% for message in get_flashed_messages() %}
            <div class="messages">
                {{ message|safe }}
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}
{% block footer %}
    <div class="footer">
        <hr>
        <div class="contact-info">
            <span class='bebleo'>
                bebleo:
            </span><br>
            Montreal, QC<br>
        </div>
        <div class="footer-links"></div>
        <div class="footer-links">
            <a href="{{ url_for('home.privacy') }}">Privacy Policy</a>
        </div>
    </div>
{% endblock %}
</body>
</html>